# Assignment for week 6

Use the following table to provide us with

|name | exam number|
|----|----|
|yiyan luo| u816797 snr 2003520|
|other group member's name| exam number|

You need to read the data of salaries.csv
Call the dataframe s.
If you get the wrong output (all oberservations per row in one column), please look at the "separator" in the csv-file and adjust the read command, to that each observations is in one cell.

In [39]:
s<-read.csv("salaries.csv")

Show the data with the command head()

In [40]:
head(s)

  X rank        discipline yrs.since.phd yrs.service sex    salary
1 1  Prof        B         19            18           Male  139750
2 2  Prof        B         20            16           Male  173200
3 3  AsstProf    B          4             3           Male   79750
4 4  Prof        B         45            39           Male  115000
5 5  Prof        B         40            41           Male  141500
6 6  AssocProf   B          6             6           Male   97000

Show the structure of the dataset with the command str()

In [41]:
str(s)

'data.frame':	397 obs. of  7 variables:
 $ X            : int  1 2 3 4 5 6 7 8 9 10 ...
 $ rank         : Factor w/ 3 levels " AssocProf ",..: 3 3 2 3 3 1 3 3 3 3 ...
 $ discipline   : Factor w/ 2 levels " A "," B ": 2 2 2 2 2 2 2 2 2 2 ...
 $ yrs.since.phd: int  19 20 4 45 40 6 30 45 21 18 ...
 $ yrs.service  : int  18 16 3 39 41 6 23 45 20 18 ...
 $ sex          : Factor w/ 2 levels " Female "," Male ": 2 2 2 2 2 2 2 2 2 1 ...
 $ salary       : int  139750 173200 79750 115000 141500 97000 175000 147765 119250 129000 ...

Change the variable "salary" into a numeric variable, with the command as.numeric

In [43]:
s$salary<-as.numeric(s$salary)

Show the new structure of the dataset with the command str()

In [45]:
str(s)

'data.frame':	397 obs. of  7 variables:
 $ X            : int  1 2 3 4 5 6 7 8 9 10 ...
 $ rank         : Factor w/ 3 levels " AssocProf ",..: 3 3 2 3 3 1 3 3 3 3 ...
 $ discipline   : Factor w/ 2 levels " A "," B ": 2 2 2 2 2 2 2 2 2 2 ...
 $ yrs.since.phd: int  19 20 4 45 40 6 30 45 21 18 ...
 $ yrs.service  : int  18 16 3 39 41 6 23 45 20 18 ...
 $ sex          : Factor w/ 2 levels " Female "," Male ": 2 2 2 2 2 2 2 2 2 1 ...
 $ salary       : num  139750 173200 79750 115000 141500 ...